{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <div class="container">
                <div class="row">


                    <div class="col-xs-12 col-md-6">
                        <h2>
                            <a>
                                Primeros pasos en django
                            </a>
                        </h2>                        
                    </div>

                    <div class="col-xs-12 col-md-6" id="leyenda_encabezado_2">
                            <a  style="">
                                El framework de los perfeccionistas ;).
                            </a>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
         <div class="container">
            <div class="row">
                <div class="col-xs-12 text-right">                                    
                    {% if user.is_authenticated %}
                        <a href="/" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-home"></span> Home</a>
                    {% endif %}                        

                    {% if user.is_authenticated %}
                        <a href="{% url 'post_new' %}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Agregar post</a>
                    {% endif %}  
                    {%block edit%}                      

                    {%endblock%}

                    {%block eliminar%}                      

                    {%endblock%}
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>